/target/
/WebContent/
/.settings/
/.classpath
/.project
/src/main/webapp/images/
/src/main/webapp/WEB-INF/lib/
/src/main/resources/ssl/
/src/main/webapp/WEB-INF/communication/template/en/email_password.html
/src/main/webapp/WEB-INF/communication/template/fr/email_password.html
/src/main/webapp/css/bootstrap-theme.css.map
/src/main/webapp/css/bootstrap.css
/src/main/webapp/css/bootstrap.css.map
/src/main/webapp/image-sitemap.xml
/src/main/webapp/js/front-mg.js
/src/main/webapp/js/skins/lightgray/img/anchor.gif
/src/main/webapp/sitemap.xml
src/main/resources/project-general.properties