<title>#TITLE#</title>
<style>
.table {
	margin-bottom: 20px;
	max-width: 100%;
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.media-icon {
	width: 30px;
	height: 30px;
	padding-bottom: 18px;
}

tbody tr td img,#basket .table tbody tr td img,#customer-order .table tbody tr td img
	{
	width: 100px;
}

img {
	vertical-align: middle;
}

img {
	border: 0 none;
}

a .link {
	color: #38a7bb;
	text-decoration: none;
	transition: all 0.2s ease-out 0s;
}

a,button {
	transition: all 0.2s ease-out 0s;
}

a {
	color: ##38a7bb;
	text-decoration: none;
}

a {
	background-color: transparent;
}

.table>thead>tr>th {
	border-bottom: 2px solid #ddd;
	vertical-align: bottom;
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th
	{
	border-top: 1px solid #ddd;
	line-height: 1.42857;
	padding: 8px;
	vertical-align: top;
}

.table tfoot th {
	font-size: 18px;
	font-weight: 300;
}

.text-right {
	text-align: right;
	padding-right: 15px;
}

th {
	text-align: left;
}

td,th {
	padding: 0;
	width: 130px;
	border-top: 1px solid #ddd;
	vertical-align: middle;
	line-height: 1.42857;
}

body {
	color: #555555;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
}
</style>
<div id="heading-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<a href='http://latelierdeleo.no-ip.org/'> <img src="http://latelierdeleo.no-ip.org/images/logo_small.jpg" />
				</a>
			</div>
			<br>
			<div class="col-md-7">
				<h1>Bienvenue &#224; L'atelier de LEO</h1>
			</div>
		</div>
	</div>
</div>

<div id="content">
	<div class="container">

		<div class="row">

			<div class="col-md-9 clearfix" id="customer-order">

				<p class="lead">
					Vous venez de cr&#233;er un compte sur le site <a href="http://latelierdeleo.no-ip.org/">L'atelier de LEO.</a>
				</p>
				<p class="lead text-muted">Vous avez d&#233;sormais acc&#232;s en tout temps &#224; votre historique de commandes.</p>
				<h3 class="text-uppercase">Donn&#233;es personnelles :</h3>

			</div>

			<div class="box">
				<div class="table-responsive">
					<table class="table">
						<thead>
						</thead>
						<tbody>
							<tr>
								<td><strong> Login: </strong></td>
								<td>#LOGIN#</td>
							</tr>
							<tr>
								<td><strong> Pr&#233;nom: </strong></td>
								<td>#FIRSTNAME#</td>
							</tr>
							<tr>
								<td><strong> Nom: </strong></td>
								<td>#LASTNAME#</td>
							</tr>
							<tr>
								<td><strong> Email: </strong></td>
								<td>#EMAIL#</td>
							</tr>
							<tr>
								<td><strong> Telephone: </strong></td>
								<td>#PHONE#</td>
							</tr>
						</tbody>
						<tfoot>
						</tfoot>
					</table>

				</div>
				<!-- /.table-responsive -->

				<div class="row addresses">
					<div class="col-sm-6">
						<h3 class="text-uppercase">Adresse de livraison :</h3>
						<p>#SHIIPINGADDRESS#</p>
					</div>
				</div>
				<!-- /.addresses -->

			</div>
			<!-- /.box -->

			<div class="col-md-9 clearfix" id="customer-order">

				<p class="lead">Restez connect&#233; et joignez notre communaut&#233; ; vous serez toujours inform&#233; des nouveaut&#233;s et
					participerez au rayonnement de votre atelier !
				</p>
				
				<div class="row">
					<a href='https://www.facebook.com/Latelier-de-Leo-1602516443339552'> 
						<img class="media-icon" src="http://latelierdeleo.no-ip.org/images/facebook icon_f66c6c.png" alt="Facebook de L'atelier de Leo" />
					</a> 
					<a href='https://www.instagram.com/latelier_de_leo/'> 
						<img class="media-icon" src="http://latelierdeleo.no-ip.org/images/instagram icon_f66c6c.png" alt="Instagram de L'atelier de Leo" />
					</a> 
					<a href='http://latelierdeleo.no-ip.org/contact.action'> 
						<img class="media-icon" src="http://latelierdeleo.no-ip.org/images/email icon_f66c6c.png" />
					</a>
				</div>
				<p class="lead text-muted">
					Consulter ou modifier les donn&#233;es de <a href="http://latelierdeleo.no-ip.org/shoppingCartAuthorization.action">
						mon compte.</a> Si vous avez des questions, visitez notre section <a href="http://latelierdeleo.no-ip.org/faq.action">FAQ</a>
					ou <a href="http://latelierdeleo.no-ip.org/contact.action">contactez-nous.</a>
				</p>

			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->
</div>
<!-- /#content -->
